@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap);

body {
    background-image: url('../sources/fondo.png'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen en su lugar mientras se desplaza la página */
    background-position: center; /* Centra la imagen de fondo */
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; 
    }

.Mi_texto{
    font-size: 40px;
    color: rgb(250, 250, 250);
    padding: 40px, 10px;
    margin: 20px, 10px, 20px, 10px;
}

.carousel-item{

    max-height: 1000px;
}

.image_1{
    max-height: 420px;
    background-image: linear-gradient(to right, rgba(23, 40, 88, 0.5), rgba(80, 118, 173, 0.8), rgba(38, 145, 216, 0.9)), url('../sources/c++.jpg');
    background-size: cover; 
    background-position: center center;
    color: rgba(68, 6, 39, 0.8); /* Para asegurar que el texto sea visible sobre el fondo */
    padding: 100px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
}

.image_2{
    max-height: 420px;
    background-image: linear-gradient(to right, rgba(134, 148, 57, 0.5), rgba(171, 218, 64, 0.8), rgba(173, 230, 17, 0.9)), url('../sources/java_script.jpg');
    background-size: cover; 
    background-position: center center;

    color: rgba(68, 6, 39, 0.8); /* Para asegurar que el texto sea visible sobre el fondo */
    padding: 100px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.image_3{
    max-height: 420px;
    background-image: linear-gradient(to right, rgba(194, 221, 39, 0.5), rgba(234, 248, 38, 0.8)), url('../sources/python.png');
    background-position: center center;

    background-size: cover; 
    color: rgba(68, 6, 39, 0.8); /* Para asegurar que el texto sea visible sobre el fondo */
    padding: 100px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


.titulo{
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(248, 248, 248, 0.8);
    
}

.tittle{
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(16, 133, 45, 0.5);
    
}

.io{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(10, 10, 8, 0.8)), url('../sources/fondo_1.jpg');
    height: 700px;
    background-size: cover; 
    background-position: center center;
    display: flex;
    justify-content: center;
    position: inside;
    word-wrap: break-word;
    word-break: break-word;
    overflow: scroll;
}
.texto-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(252, 252, 252);
    padding: 40px, 10px;
    margin: 20px, 10px, 20px, 10px;

}
.texto{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 40px, 10px;
    margin: 20px, 10px, 20px, 10px;
}
.targetas{
    height: 700px;
    max-height: 800px;;
}
.texto p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 40px, 10px;
    margin: 20px, 10px, 20px, 10px;
}

/*Este es el fimal ela implementacion por nuestra parte e inicia la del formulario*/
.seccion4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 80%; 
    text-align: center;
    position: relative; 
    z-index: 1; 
}

.grupo {
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #e0b31f, #e6490b);
    transition: 0.3s ease width;    
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.seccion4 button{
    font-family: 'roboto';
    background: #0f0f0e;
    background: -webkit-linear-gradient(to right, #c5c1b5, #fffefd);
    background: linear-gradient(to right, #c4c0b2, #e4d9d4);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}